<div class="container-fluid">
  
      <div class="jumbotron">
            <div class="panel panel-info"> 
            <h1 id="title">Github Search</h1>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <form (ngSubmit)="check()">
            

                <div class="form-group">

                    <label for="name">Username</label>
                    
                    <input type="text" [(ngModel)]="username.username" id="username" name="name">

                </div>
           
                <button type="submit" class="btn btn-success btn-lg">Search</button>
          
            </form>
        </div>
        <div class="col-md-6">

                <div id="result">
                    
                    public_repos:{{repos.public_repos}}<br>
                    followers:{{repos.followers}}<br>
                    followers:{{repos.following}}<br>
                    public_gists:{{repos.public_gists}}<br>
                    created_at:{{repos.created_at}}<br>
                    
                </div>
                <a href="{{repos.html_url}}">Link to Github</a>
        </div>  
  </div>
</div>

