<div class="container-fluid">
  
      <div class="jumbotron">
            <div class="panel panel-info"> 
            <h1 id="title">Github Search</h1>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <form (ngSubmit)="check()">
            

                <div class="form-group">

                    <label for="name">Username</label>
                    
                    <input type="text" [(ngModel)]="username.username" id="username" name="name">

                </div>
           
                <button type="submit" class="btn btn-success btn-lg">Search</button>
          
            </form>
        </div>
        <div class="col-md-6">

                <div id="result">
                    <strong>profile picture</strong><br><img src="{{repos.avatar_url}}" width="100px" height="100px"><br>

                    <strong>public_repos</strong>:{{repos.public_repos}}<br>
                    <strong>followers:</strong>{{repos.followers}}<br>
                    <strong>following:</strong>{{repos.following}}<br>
                    <strong>public_gists:</strong>{{repos.public_gists}}<br>
                    <div id="fol" appStrikethrough><strong>created_at:</strong>{{repos.created_at}}</div>
                    
                   
                </div>
                <a href="{{repos.html_url}}">Link to Github</a>
               
        </div>  
  </div>
</div>

